<h1>Javascript Coding Test</h1>
<h4> Inspired by <a href="https://github.com/rmurphey/js-assessment">js-assessment</a></h4>

<nav>
    <ul>
        <li>{{#link-to 'arrays'}}Arrays{{/link-to}}</li>
        <li>{{#link-to 'functions'}}Functions{{/link-to}}</li>
        <!-- <li>{{#link-to 'strings'}}Strings{{/link-to}}</li> -->
    </ul>
</nav>
